/* responsive */

@media (max-width: 760px) {
  .hero-content h1 {
    font-size: 3rem;
  }

  .outlined-text {
    font-size: 2.5rem;
  }

  .section-subtitle {
    font-size: 0.8rem;
    color: #555;
  }

  /* about */

  .about-grid {
    grid-template-columns: 1fr;
  }

  .feature-card {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .card h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .card:nth-child(odd) {
    margin-top: 0;
    /* background-color: white; */
  }

  .skills-grid {
    /* background-color: teal; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social-links {
    /* background-color: red; */
    margin: 2rem 0;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

 
}
