/* responsive */

@media (max-width: 760px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
 


  .outlined-text {
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 0.8rem;
    color: #555;
  }

  /* about */

  .about-grid {
    grid-template-columns: 1fr;
  }

  .feature-card {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .card h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .card:nth-child(odd) {
    margin-top: 0;
    /* background-color: white; */
  }

  .skills-grid {
    /* background-color: teal; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social-links {
    /* background-color: red; */
    margin: 2rem 0;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* #experince .container{
  background-color: aquamarine;
} */
  .hide {
    display: none;
  }
  .timeline-card {
    /* background-color: red; */
    width: 100%;
  }
  .timeline-card .info {
    font-size: 0.6rem;
  }
  .timeline-item {
    /* background-color: tan; */
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
  }
  .timeline-item span {
    display: none;
  }
  .timeline-item time {
    font-size: smaller;
  }
}
